

p{
	color:teal;
	font-size: 18px;
	font-family: monospace, arial;
	font-weight: normal;
}

h1{
	color: #54836f;
	font-size: 35px;
	font-family: courier new, arial;
	text-align: center;
	font-weight: lighter;
}

h2{
	color: #394447;
	font-size: 20px;
	font-weight: normal;
	font-family: monospace, arial;
	text-align: center;
}

h3{
	color: #e95f92;
	font-weight: normal;
	font-family: monospace, arial;
	text-align: center;
}

h4{
	color: #1a5b58;
	font-weight: normal;
	font-family: monospace, arial;
}

h5{
	color: #1a5b58;
	font-weight: normal;
	font-family: courier new, arial;
	font-weight: bold;
}

li{
	color: #394447;
	font-weight: normal;
	font-family: monospace, arial;
	text-align: center;
}

blockquote{
	color: #394447;
	font-weight: normal;
	font-family: monospace, arial;
	text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.grid--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: transparent;
  color: transparent;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px ;
}

img{
	object-fit: contain;
}

.grid-picture{
  width: 400px;
  height: 400px;

}

