p{
	color:teal;
	font-size: 18px;
	font-family: monospace, arial;
	font-weight: normal;
}

h1{
	color: #54836f;
	font-size: 35px;
	font-family: courier new, arial;
	text-align: center;
	font-weight: lighter;
}

h2{
	color: #394447;
	font-size: 20px;
	font-weight: normal;
	font-family: monospace, arial;
	text-align: center;
}

h3{
	color: #e95f92;
	font-weight: normal;
	font-family: monospace, arial;
	text-align: center;
}

h4{
	color: #1a5b58;
	font-weight: normal;
	font-family: monospace, arial;
}

h5{
	color: #1a5b58;
	font-weight: normal;
	font-family: courier new, arial;
	font-weight: bold;
}

li{
	color: #394447;
	font-weight: normal;
	font-family: monospace, arial;
	text-align: center;
}

blockquote{
	color: #394447;
	font-weight: normal;
	font-family: monospace, arial;
	text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
